.error-container {
  align-items: flex-start;
  display: flex;
  font-size: 0.9em;
  gap: 6px;
  padding: 0 4px;
}

.error-container > img {
  height: 1.2em;
  margin-top: 2px;
}

.errorMsg {
  color: red;
  text-align: left;
}
