.calendar-card h3 {
  position: absolute; /* Pull the card header out of normal layout */
}

/* Month control area */
.calendar-card .MuiCalendarPicker-root > div:first-child {
  color: $aura-highlight;
  fill: $aura-highlight;
  justify-content: flex-end;
  margin: 0;
  max-height: auto;
  min-height: auto;
  padding: 0;
  position: relative;
  stroke: $aura-highlight;
}

/* Month & Year item - Push it to the right, over the top of the prev/next arrows */
.calendar-card .MuiCalendarPicker-root > div:first-child > div:first-child {
  font-size: 0.9rem;
  justify-content: center;
  position: absolute;
  right: 0px;
  top: 2px;
  width: 124px;
}

/* Hide picker dropdown */
.calendar-card
  .MuiCalendarPicker-root
  > div:first-child
  > div:first-child
  > button {
  display: none;
}

/* Previous/next month selectors - spread them out to make space for the month/year text */
.calendar-card .MuiCalendarPicker-root > div:first-child > div:last-child {
  justify-content: space-between;
  position: relative;
  top: -2px;
  width: 130px;
}

.calendar-card .MuiCalendarPicker-root > div:first-child > div:last-child svg {
  fill: $aura-highlight;
}

.calendar-card .MuiCalendarPicker-viewTransitionContainer {
  position: relative;
  top: -4px;
}

/* Grid for days */
.calendar-card .PrivatePickersSlideTransition-root {
  min-height: 68px;
  overflow: hidden;
}

/* Calendar rows */
.calendar-card div[role="row"] {
  margin: 0;
}

.calendar-card .MuiTypography-caption, /* SMTWTFS labels */
.calendar-card .dayCell {
  align-items: center;
  color: silver;
  display: flex;
  font-size: 0.5rem;
  justify-content: center;
  margin: 0 10px;
  height: 14px;
  width: 14px;
}

.calendar-card .dayText {
  position: relative;
  top: -1px;
}

.calendar-card .today {
  color: black;
}

.calendar-card .event-day {
  background-color: $aura-highlight;
  border: none;
  border-radius: 50%;
  color: white;
  cursor: pointer;
}
