.dashboard {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

/* TODO - Fill out the grid once the other components are complete! */
.dashboard__content {
  display: grid;
  flex-grow: 1;
  grid-template-columns: 64px auto;
  grid-template-rows: auto auto;
  overflow-y: auto;
}

.dashboard__content .sidebar {
  grid-row: 1 / 3;
}
