.main-container {
  background-image: url("../../assets/images/images/shutterstock_363952133.jpg");

  background: linear-gradient(
      rgba(8, 10, 87, 0.445) 100%,
      rgba(8, 10, 87, 0.445) 100%
    ),
    url("../../assets/images/images/shutterstock_363952133.jpg");
  background-size: auto;
  display: flex;
  justify-content: center;
  height: 100vh;
}

.middle-container {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  border-radius: 20px;
  //   background-color: aqua;
  height: min-content;
  justify-content: center;
  margin-top: 200px;
  background: linear-gradient(
    rgba(2, 2, 20, 0.445) 100%,
    rgba(2, 2, 20, 0.445) 100%
  );
}
.title {
  background-color: white;
  width: 400px;
  display: flex;
  flex-direction: column;

  border-radius: 20px;
  height: auto;
  padding: 40px;
}

.auro-logo {
  height: 4rem;
}
