.center-container {
  display: flex;
  flex-direction: column;
  gap: 23px;
}

.login-using-txt {
  display: block;
  align-self: flex-start;
  text-decoration: none;
  color: gray;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: -10px;
}

.forgot-password-txt {
  margin-top: -10px;
  display: block;
  align-self: flex-end;
  text-decoration: none;
  color: rgb(163, 163, 163);
  font-size: 14px;
  font-weight: bold;
}

.gmail-icon {
  height: 1.5rem;
  vertical-align: middle;
  margin-right: 10px;
  margin-bottom: 3px;
}

.error-container {
  margin-top: -50px;
  margin-left: -140px;
}

.loader {
  width: 25px;
  height: 25px;
  border: 5px dotted rgb(204, 87, 9);
  border-radius: 50%;
  animation: rotation 2s linear infinite;
  margin-top: -50px;
  margin-left: 140px;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
