.fav-icon_svg{
    height: 100px;
    width: 100px;
    margin: auto;
    display: block;
}

.reset-footer{
    background-color: lightgrey;
    height: 50px;
    margin-top: 20px;
    text-align: center;
    padding-top: 15px;
}

.content-container{  
    width: 60%;
    padding: 20px 50px;
    margin: auto;
    margin-top: 50px;
    text-align: justify;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset,
      rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
      rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.successImg{
    height: 100px;
    width: 100px;
    margin: auto;
    display: block;
}

.reset-btn{
    text-align: center;
    margin-top: 2em;
    margin-bottom: 2em;
}

.resetMsg-container{
    width: 40%;
    padding: 60px 50px;
    margin: auto;
    text-align: center;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset,
      rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
      rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}